*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    height: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    font-family: $font-family;
    color: $color-dark;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: $font-family;
}

h2 {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5.4rem;
    line-height: 6.6rem;
    text-transform: uppercase;
    color: $color-heading;
}

h3 {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 5.1rem;
    text-transform: uppercase;
    color: $color-light;
}

h4 {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 130%;
    color: $color-light;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}