$color-primary: #F58021;
$color-heading: #00A092;
$color-additional: #20113D;

$color-bg-icon1: #FF0000;
$color-bg-icon2: #C13584;
$color-bg-icon3: #3B5998;

$color-light: #FFFFFF;
$color-dark: #000;

$font-family: 'Montserrat', sans-serif;


$content-1400: 1400px;
$content-1200: 1200px;
$content-1000: 1000px;
$content-tablet: 768px;
$content-mobile-big: 500px;
$content-mobile-small: 320px;