.contacts__content {
    padding: 9% 0;
}

.contacts__desc {
    flex-basis: 38%;
}

.contact-form label,
.contact-form input {
    display: block;
    margin-bottom: 10px;
}

.contact-form label span {
    padding-right: 3px;
    color: $color-heading;
}

.contact-form input {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 0 15px 20px;
    border: 1px solid $color-dark;
    background-color: transparent;
    color: $color-primary;

    &::placeholder {
        font-family: inherit;
        color: $color-gray;
      }
}

.contact-form textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 65px;
    padding: 12px 0 10px 20px;
    resize: none;
    border: 1px solid $color-dark;
    background-color: transparent;

    &::placeholder {
        color: $color-gray;
      }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-text-fill-color: $color-primary;
transition: background-color 0s ease-in-out 9000s;
}