.promo {
    padding: 60px 0 130px;
    background-image: url('../assets/img/backgrounds/promo-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -40px -45px;
}

.promo__title {
    max-width: 880px;
    margin-bottom: 50px;
    @include font($size: 8.2rem, $height: 10rem, $weight: 800);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.promo__text {
    max-width: 425px;
    margin-bottom: 50px;
}