.welcome {
    padding: 8% 0 8%;
}

.welcome__container {
    @include flex();
    row-gap: 150px;

    @include media-laptop {
        row-gap: 80px;
    } 
}

.welcome-description__content {

    @include media-laptop {
        padding-top: 40px;
        max-width: 800px;
        margin: 0 auto;

        p {
            text-align: left;
        }
    }
}

.welcome-description__title {
    padding: 9% 0 2%;

    @include media-1400 {
        padding-top: 0;
    }
}

.welcome-description {
    picture {
        @include media-laptop {
            order: -1;
        }
    }
}