.column-2 {
    @include columns($width: 48%);

    @include media-laptop {
        align-items: center;
        text-align: center;


    }
}

.column-2 > * {
    @include media-laptop {
        flex-basis: 100%;
    }
}

.column-3 {
    @include columns($width: 30%);
}

.column-4 {
    @include columns($width: 21%);
}